{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим из {{ departure_rus }}</h1>
    <p class="mb-4">Найдено {{ tours_count }}, от {{ min_price_departure }} до {{ max_price_departure }} и от {{min_nights_departure}} до
      {{ max_nights_departure }}</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for id, tour in tours.items %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}" alt="" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description_short }}</p>
            <p class="card-text font-weight-bold">{{ tour.oneliner_index }}</p>
            <a href="/tour/{{ id }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
