{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background: url('https://place-hold.it/1600x300'); background-position: center center">
      <h1 class="display-4">{{ title }}</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for id, tour in tours.items %}
      {% if id in random_tours %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}" alt="" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description_short }}</p>
            <p class="card-text font-weight-bold">{{ tour.oneliner_index }}</p>
            <a href="tour/{{ id }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {%  endif %}
      {% endfor %}
    </div>
  </main>
{% endblock %}
